
{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{ user.figure() }}" height="88" width="88"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
        </td>
    </tr>
</table>
<hr>
<!-- {% for post in posts %}
<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>{{ post.author.username }} says:<br>{{ post.body }}</td>
    </tr>
</table>
{% endfor %} -->
{% for game in games %}
{% include 'game.html' %}
{% endfor %}
{% if user == current_user %}
<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
{% endif %}
{% endblock %}